<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Produtos</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <header>
    <h1>Produtos</h1>
  </header>
  <main class="container">
    <ul>        
        <li>
            <a href="">Inserir</a>
        </li>        
    </ul>

    <form action="">
      <label for="">Pesquisar</label>
      <input type="search">
    </form>
    <div>
      // produtos - Alterar e deletar em cada registro
    </div>
  </main>

</body>
</html>
